platform/WebContent/WEB-INF/classes/com/yixin/A1000/cag/model/schema/request/downloadCMAUpdateFile-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="request">
		<complexType>
			<sequence>
				<element name="command">
					<complexType>
						<attribute name="id" type="string" use="required" />
						<attribute name="versionno" type="string" use="required" />
						<attribute name="filename" type="string" use="required" />
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>